  <div>
    <p>Calculation: {{ equation }}</p>
  </div>
  
  <form [formGroup]="form">
    <table>
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let item of horizontalList">{{ item.name }}</th>
        </tr>
      </thead>
      <tbody formArrayName="rows">
        <tr *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">
          <td>
            <input formControlName="input" type="number" (input)="calculateEquation()">
          </td>
          <td *ngFor="let checkbox of getCheckboxes(i); let j = index">
            <input type="checkbox" [formControl]="checkbox" (change)="calculateEquation()">
          </td>
          <td>{{ verticalList[i]?.name }}</td>
        </tr>
      </tbody>
    </table>
  </form>



